header {
  background: url(../asset/images/banner.jpg) no-repeat;
  padding-top: 15px;
}
header .nav {
  background: rgba(0, 0, 0, 0.41);
  padding: 10px 0;
  position: relative;
}
header .nav .glyphicon-menu-hamburger {
  font-size: 16px;
  color: #bbb;
  margin: 9px 0 9px 15px;
}
header .nav .breadcrumb {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 6px;
  background: none;
}
header .nav .breadcrumb li::before {
  font-size: 16px;
  color: #fff;
  padding: 0 15px;
}
header .nav .breadcrumb li.active a {
  color: yellow;
  border-top: 3px solid yellow;
}
header .nav .breadcrumb li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
header .nav .breadcrumb li a:hover {
  color: yellow;
  border-top: 3px solid yellow;
  transition: all .3s;
}
header .nav .form-group {
  margin: 0 20px 0 0;
}
header .nav .form-group input {
  background: transparent;
}
header .nav .form-group span {
  color: #bbb;
}
header .title {
  text-align: center;
  padding: 100px 0 0 0;
}
header .title h3 {
  color: white;
  width: 150px;
  margin: 0 auto;
  font-size: 42px;
  line-height: 45px;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}
header .grids {
  position: relative;
  top: 100px;
}
header .grids .col-xs-6 {
  text-align: center;
}
header .grids .col-xs-6 .thumbnail {
  padding: 20px;
  background: #16A667;
  border: none;
  border-radius: 0;
}
header .grids .col-xs-6 .thumbnail img {
  background: none;
  padding: 10px;
  border-width: 5px;
}
header .grids .col-xs-6 .thumbnail .caption {
  color: #fff;
}
main section {
  padding: 30px 0;
}
main .container h1 {
  margin-bottom: 30px;
}
main .aboutUs {
  background: #eee;
  padding-top: 130px;
  padding-bottom: 50px;
}
main .aboutUs .row .col-md-5 img {
  width: 100%;
}
main .aboutUs .row .col-md-7 p {
  margin: 0;
  padding: 15px 0;
  line-height: 26px;
  font-size: 15px;
}
main .ourService {
  background: #37353b;
  color: #fff;
}
main .ourService .col-lg-4 .thumbnail {
  background: none;
  border: none;
}
main .ourService .col-lg-4 .thumbnail img {
  background: #16A667;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
main .ourService .col-lg-4 .thumbnail img:hover {
  background: #f2af00;
}
main .ourService .col-lg-4 .thumbnail .caption {
  color: #fff;
  text-align: center;
}
main .ourService .col-lg-4 .thumbnail .caption h3 {
  font-size: 24px;
  font-weight: 600;
}
main .ourService .col-lg-4 .thumbnail .caption p {
  color: #999;
}
main .latestWork {
  background: #eee;
}
main .latestWork .row {
  padding: 0 15px;
}
main .latestWork .row .latest {
  position: relative;
  padding: 0;
}
main .latestWork .row .latest a img {
  width: 100%;
}
main .latestWork .row .latest a .textbox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px #fff;
  transform: scale(0);
  transition: all .5s;
}
main .latestWork .row .latest a .textbox img {
  position: relative;
  top: 35%;
  left: 0;
  right: 0;
  width: 60px;
}
main .latestWork .row .latest a:hover .textbox {
  transform: scale(1);
}
main .latestNews .col-sm-4 {
  padding-bottom: 10px;
}
main .latestNews .col-sm-4 img {
  margin: 0 auto;
}
main .latestNews .col-sm-4 a {
  color: #000;
}
main .latestNews .col-sm-4 a:first-of-type,
main .latestNews .col-sm-4 a:last-of-type {
  text-decoration: none;
}
main .latestNews .col-sm-4 time {
  color: #999;
}
main .latestNews .col-sm-4 p {
  color: #999;
  font-size: 15px;
  padding-right: 20px;
  margin: 15px 0;
}
main .latestNews .col-sm-4 .readmore {
  display: block;
  text-align: center;
  color: #fff;
  background: #f2af00;
  width: 100px;
  height: 40px;
  line-height: 40px;
  position: relative;
  z-index: 1;
}
main .latestNews .col-sm-4 .readmore::before {
  content: '';
  width: 100%;
  height: 100%;
  background: #16A667;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .5s;
}
main .latestNews .col-sm-4 .readmore:hover::before {
  transform: rotateX(90deg);
}
main .others {
  background: #3f454d;
}
main .others .col-sm-4 h1 {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
}
main .others .col-sm-4 .card {
  margin-bottom: 10px;
  height: 75px;
  clear: both;
}
main .others .col-sm-4 .card img {
  float: left;
  margin-right: 5px;
}
main .others .col-sm-4 .card a {
  text-decoration: none;
  color: #fff;
  transition: all .5s;
}
main .others .col-sm-4 .card a:hover {
  color: #f2af00;
}
main .others .col-sm-4 .card h5 {
  display: inline-block;
  font-size: 20px;
}
main .others .col-sm-4 .card p {
  color: #999;
}
main .others .col-sm-4 .card li {
  list-style: none;
  margin-bottom: 20px;
  text-indent: 20px;
  background: url(../asset/images/list-arrow.png) no-repeat 0px center;
}
main .others .col-sm-4 .card li a {
  color: #999;
}
main .others .col-sm-4 .contact p {
  color: #999;
}
main .others .col-sm-4 .contact i {
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
main .others .col-sm-4 .contact i.phone {
  background: url(../asset/images/img-sprite1.png) no-repeat -220px 0px;
}
main .others .col-sm-4 .contact i.locate {
  background: url(../asset/images/img-sprite1.png) no-repeat -260px 0px;
}
main .others .col-sm-4 .contact i.mail {
  background: url(../asset/images/img-sprite1.png) no-repeat -300px 0px;
}
main .others .col-sm-4 .contact div {
  margin: 50px 0;
}
footer {
  background: #eee;
  padding: 50px 0;
}
footer .container {
  text-align: center;
}
footer .container .icons i {
  display: inline-block;
  width: 55px;
  height: 55px;
  background: url(images/img-sprite1.png) no-repeat;
  margin: 0 10px;
}
footer .container .icons i.icon2 {
  background-position-x: -55px;
}
footer .container .icons i.icon3 {
  background-position-x: -110px;
}
footer .container .icons i.icon4 {
  background-position-x: -165px;
}
footer .container .icons i:hover {
  opacity: .6;
}
footer .container .navs li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
}
footer .container .navs li a {
  text-decoration: none;
  color: #000;
}
footer .container .copyright {
  font-size: 18px;
}
footer .container .copyright a {
  font-size: 22px;
  color: #16A667;
  transition: all .3s;
}
footer .container .copyright a:hover {
  color: #000;
}
footer #toTop {
  text-indent: 100%;
  width: 40px;
  height: 30px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: url(images/to-top2.png) no-repeat 0px 5px;
  overflow: hidden;
}
@media screen and (max-width: 320px) {
  header .grids .row > div {
    width: 100%;
  }
  main .col-sm-3.col-xs-6 {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 0;
  }
  header .nav .glyphicon-menu-hamburger {
    display: block;
  }
  header .nav .breadcrumb {
    display: none;
    text-align: left;
    padding-left: 0;
    width: 100%;
    position: absolute;
    top: 54px;
    left: 0;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.41);
  }
  header .nav .breadcrumb li {
    margin-left: -10px;
    height: 30px;
    display: block;
  }
  header .nav .breadcrumb li::before {
    content: '';
  }
  header .nav .breadcrumb li a {
    border: none;
  }
  header .nav .breadcrumb li a:hover {
    border: none;
  }
  header .nav .form-group input {
    display: none;
  }
  header .nav .form-group .glyphicon-search {
    margin-right: -10px;
  }
  header .title {
    padding: 75px 0 0 0;
  }
  header .title h3 {
    font-size: 32px;
  }
  header .grids .col-xs-6 .thumbnail {
    padding: 0 5px;
  }
  header .grids .col-xs-6 .thumbnail img {
    position: relative;
    top: 10px;
    width: 75px;
  }
  header .grids .col-xs-6 .thumbnail .caption {
    padding: 5px;
  }
  header .grids .col-xs-6 .thumbnail .caption h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  header .grids .col-xs-6 .thumbnail .caption p {
    font-size: 14px;
  }
  main .container > h1,
  main .col-sm-4 > h1 {
    text-align: center;
  }
  main .latestNews div .readmore {
    margin: 0 auto;
  }
  main .others .col-sm-4:nth-of-type(1) .card,
  main .others .col-sm-4:nth-of-type(3) .card {
    margin: 0 70px 10px 70px;
  }
  main .others .col-sm-4:nth-of-type(1) .contact,
  main .others .col-sm-4:nth-of-type(3) .contact {
    margin: 0 140px 10px 140px;
  }
  main .others .col-sm-4:nth-of-type(1) .contact div,
  main .others .col-sm-4:nth-of-type(3) .contact div {
    padding-left: 70px;
  }
  main .others .col-sm-4:nth-of-type(2) .card {
    height: 300px !important;
  }
  main .others .col-sm-4:nth-of-type(2) .card li {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  header .nav .glyphicon-menu-hamburger {
    display: none;
  }
  header .nav .form-group {
    margin-top: 3.5px;
    margin-bottom: 3.5px;
  }
  header .grids .col-xs-6 .thumbnail {
    padding: 5px;
  }
  header .grids .col-xs-6 .thumbnail img {
    margin: 10px auto;
  }
  header .grids .col-xs-6 .thumbnail .caption {
    padding-top: 5px;
  }
  header .grids .col-xs-6 .thumbnail .caption h3 {
    margin-top: 0;
    font-size: 17px;
    font-weight: 600;
  }
  main .others .col-sm-4 .card h5 {
    margin-top: 3px;
    margin-bottom: 0;
  }
  main .others .col-sm-4 .card p {
    font-size: 12px;
  }
}
@media screen and (min-width: 992px) {
  header .grids .col-xs-6 .thumbnail .caption h3 {
    font-size: 22px;
  }
}
